package views

import "github.com/magitools/magiedit/templates/layouts"

templ Index() {
	@layouts.Base(false) {
		<p>hello world</p>
		<p>hello world</p>
		<p>hello world</p>
		<p>hello world</p>
		<p>hello world</p>
		<p>hello world</p>
		<p>hello world</p>
		<p>hello world</p>
	}
}
